<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Logout</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
    </div>
</div>
<% if(messages.error) { %>
   <%= messages.error %>
<% } %>


<div class="form-group mb-4">
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
    
</div>
